@import '../style/color.scss';
.default {
    .dropdown {
        background-color: $teal5;
        .user-profile {
            &:hover {
                background-color: $teal6;
            }
        }
        .user-profile-active {
            background-color: $teal6;
        }
        .dropdown-container {
            background-color: $teal5;
            border-top: 1px solid $teal8;
            li {
                &:hover {
                    background-color: $teal6;
                }
                &:active {
                    background-color: $teal6;
                }
                &:visited {
                    background-color: $teal6;
                }
                a {
                    color: white;
                }
            }
        }
    }
}

.cyan {
    .dropdown {
        background-color: $cyan5;
        .user-profile {
            &:hover {
                background-color: $cyan6;
            }
        }
        .user-profile-active {
            background-color: $cyan6;
        }
        .dropdown-container {
            background-color: $cyan5;
            border-top: 1px solid $cyan8;
            li {
                &:hover {
                    background-color: $cyan6;
                }
                &:active {
                    background-color: $cyan6;
                }
                &:visited {
                    background-color: $cyan6;
                }
                a {
                    color: white;
                }
            }
        }
    }
}

.blue {
    .dropdown {
        background-color: $blue5;
        .user-profile {
            &:hover {
                background-color: $blue6;
            }
        }
        .user-profile-active {
            background-color: $blue6;
        }
        .dropdown-container {
            background-color: $blue5;
            border-top: 1px solid $blue8;
            li {
                &:hover {
                    background-color: $blue6;
                }
                &:active {
                    background-color: $blue6;
                }
                &:visited {
                    background-color: $blue6;
                }
                a {
                    color: white;
                }
            }
        }
    }
}