.card {
  background-color: #ffffff;
  color: #212121;
  box-shadow: 1px 1px 3px #CCCCCC; }

.card {
  padding: 25px;
  width: 180px;
  margin: 10px;
  font-size: 12px;
  box-sizing: border-box; }

.card-title {
  text-align: left;
  height: 30px;
  padding-left: 7px; }

.card-content {
  display: flex;
  align-content: start; }

.card-img {
  width: 30px;
  height: 30px; }

.card-text {
  text-align: left;
  margin-left: 10px; }
