.greeting {
  font-size: 12px;
  margin: 0px 10px; }

.spaced-icon {
  margin-right: 10px; }

.user-img {
  width: 30px;
  height: 30px;
  margin: 0px 10px;
  font-size: 30px; }

.notifications {
  position: relative;
  margin-right: 10px;
  padding-top: 5px; }

.badge {
  background-color: #fa3e3e;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  /* Position the badge within the relatively positioned button */
  top: 2px;
  right: -3px; }

.top-button-section {
  display: flex;
  width: 100%;
  background-color: #CCCCCC;
  align-items: center;
  justify-content: center;
  height: 90px; }

.input-section-container {
  display: flex;
  justify-content: center; }

.input-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px; }

h2 {
  color: #555555;
  letter-spacing: 2px;
  font-size: 18px;
  margin: 40px; }

h3 {
  color: #4EB8AA;
  letter-spacing: 2px;
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 20px; }

.upload-photo {
  background-color: #F1F1F1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  font-size: 12px;
  color: #555555;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 30px; }

.upload-photo:focus,
.upload-photo:hover {
  border: 1px solid #4EB8AA;
  box-shadow: 0px 0px 3px #CCCCCC; }

.input-block {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%; }

.check-block {
  margin: 5px 0px; }

.label {
  width: 120px;
  text-align: start; }

.input {
  width: calc(100% - 120px);
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap; }

.slider-input {
  width: calc(100% - 120px);
  height: 18px; }

.slider-block {
  margin: 5px 0px; }

.social-icon {
  width: 35px;
  height: 35px;
  margin: 10px;
  padding-bottom: 10px;
  background-size: cover !important; }

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .input-section {
    width: 60%; } }

@media only screen and (max-width: 600px) {
  .input-section {
    width: 90%; }
  .input-block {
    display: block;
    margin: 5px 0px; }
  .input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .slider-input {
    width: 100%; } }
