@import '../style/global/Theme.scss';


.popup-overlay {
    background-color: $color-mid;

}

.popup-screen {
    background-color: transparent;
}

.popup-container {
    background-color: $color-light;
}

.close-icon {
    color: $color-dark;

}