/*************** primary colors  **************/
/************ Button **************/
/************ Button End**************/
/*************** primary colors End **************/
.cyan .footer {
  background-color: white; }

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0px;
  width: 100%;
  height: 40px; }
