@import './textArea.default.scss';

textarea{
 height:150px;
  width:100%;
  border:none;
  border-radius:3px;
  font-size:12px;
  padding:10px;
  margin:5px;
  box-sizing:border-box;
}

textarea:focus{
  outline:none;
}


