/*************** primary colors  **************/
/************ Button **************/
/************ Button End**************/
/*************** primary colors End **************/
.default .dropdown {
  background-color: #009688; }
  .default .dropdown .user-profile:hover {
    background-color: #00897b; }
  .default .dropdown .user-profile-active {
    background-color: #00897b; }
  .default .dropdown .dropdown-container {
    background-color: #009688;
    border-top: 1px solid #00695c; }
    .default .dropdown .dropdown-container li:hover {
      background-color: #00897b; }
    .default .dropdown .dropdown-container li:active {
      background-color: #00897b; }
    .default .dropdown .dropdown-container li:visited {
      background-color: #00897b; }
    .default .dropdown .dropdown-container li a {
      color: white; }

.cyan .dropdown {
  background-color: #00BCD4; }
  .cyan .dropdown .user-profile:hover {
    background-color: #00ACC1; }
  .cyan .dropdown .user-profile-active {
    background-color: #00ACC1; }
  .cyan .dropdown .dropdown-container {
    background-color: #00BCD4;
    border-top: 1px solid #00838F; }
    .cyan .dropdown .dropdown-container li:hover {
      background-color: #00ACC1; }
    .cyan .dropdown .dropdown-container li:active {
      background-color: #00ACC1; }
    .cyan .dropdown .dropdown-container li:visited {
      background-color: #00ACC1; }
    .cyan .dropdown .dropdown-container li a {
      color: white; }

.blue .dropdown {
  background-color: #2196F3; }
  .blue .dropdown .user-profile:hover {
    background-color: #1E88E5; }
  .blue .dropdown .user-profile-active {
    background-color: #1E88E5; }
  .blue .dropdown .dropdown-container {
    background-color: #2196F3;
    border-top: 1px solid #1565C0; }
    .blue .dropdown .dropdown-container li:hover {
      background-color: #1E88E5; }
    .blue .dropdown .dropdown-container li:active {
      background-color: #1E88E5; }
    .blue .dropdown .dropdown-container li:visited {
      background-color: #1E88E5; }
    .blue .dropdown .dropdown-container li a {
      color: white; }
