/*************** primary colors  **************/
/************ Button **************/
/************ Button End**************/
/*************** primary colors End **************/
.blue .sidebar {
  background-color: #1E88E5; }
  .blue .sidebar a {
    color: black; }
  .blue .sidebar a:hover,
  .blue .sidebar .offcanvas a:focus {
    background-color: #1976D2;
    color: white; }
  .blue .sidebar a.active {
    background-color: #1565C0;
    color: white; }
  .blue .sidebar .divider {
    background-color: #1976D2; }
