/*************** primary colors  **************/
/************ Button **************/
/************ Button End**************/
/*************** primary colors End **************/
.default .body {
  background-color: #ecf0f1;
  color: black; }
  .default .body h1 {
    color: blue; }
